@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #37533c;
  --font-green: #6fcf97;
}

body {
  font-family: 'Poppins', sans-serif;
  /* display: none; */
}

.s600 {
  height: 100vh;
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.button {
  background-color: #de8f6e;
  color: white;
  font-size: 25px;
  border: none;
  text-transform: capitalize;
  padding: 20px 90px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.optionBtn {
  background-color: #37533c;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 20px 40px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

/* ===== Analyzing screen ====== */

.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #fefcff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #227ded;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(135deg);
}

.circle-wrap .inside-circle {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: #d2eaf1;
  line-height: 120px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  color: #1e51dc;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

/* ================================ */

@media only screen and (max-width: 600px) {
  /* ? Home screen */
  .s600 {
    display: none;
  }
}
