@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #37533c;
  --font-green: #6fcf97;
}

body {
  font-family: 'Poppins', sans-serif;
  /* display: none; */
}

.s600 {
  height: 100vh;
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.button {
  background-color: #de8f6e;
  color: white;
  font-size: 25px;
  border: none;
  text-transform: capitalize;
  padding: 20px 90px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.optionBtn {
  background-color: #37533c;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 20px 40px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  /* ? Home screen */
  .s600 {
    display: none;
  }
}
